---
---

@import "jekyll-theme-slate";

body {
  counter-reset: figs;
}

figure {
  figcaption::before {
    counter-increment: figs;
    content: "Figura " counter(figs) ": ";
  }
}

.figure-img
{
    margin: 0 auto;
    display: block;
}

.figure-caption
{
    margin: 0 auto;
    display: block;
    font-style: italic;
    font-size: small;
    text-align: center;
}

.center-image
{
    margin: 0 auto;
    display: block;
}

.max-width-400px
{
    max-width: 400px;
}

.max-width-300px
{
    max-width: 300px;
}

.max-width-200px
{
    max-width: 200px;
}
