*.pdf
*.dpth
*.synctex.gz
*.synctex(busy)
*.aux
*.auxlock
*.makefile
*.out
*.md5
*.log
*.figlist
*.log
*.dep
divisor-tensao.svg
potenciometro-a0.svg
solenoide-chave.svg
solenoide-diodo.svg
solenoide-eqv.svg
